name: Test, Build, Publish Image, and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  # TODO: Add testing
  # test:
  #   uses: push2sheets/.github/workflows/test.yml@main

  build-publish:
    needs: test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/krisvan/push2sheets:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-publish
    uses: push2sheets/.github/workflows/deploy.yml@main
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          